[Unit]
Description=Dispatch server
Documentation=https://github.com/vmware/dispatch
After=dispatch-appliance-ready.target docker.service
Requires=dispatch-appliance-ready.target docker.service

[Service]
Type=simple
EnvironmentFile=/etc/dispatch/environment

Restart=on-failure
RestartSec=10

WorkingDirectory=/storage/data
ExecStart=/usr/bin/dispatch-server

[Install]
WantedBy=dispatch-appliance.target
