[project]
	description = Dispatch is a framework for deploying and managing serverless style applications.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Karol Stępniewski (kars7e)
[access "refs/for/refs/*"]
	read = group user/Karol Stępniewski (kars7e)
	push = group user/Karol Stępniewski (kars7e)
	label-Code-Review = -2..+2 group user/Karol Stępniewski (kars7e)
	label-Verified = -1..+1 group user/Karol Stępniewski (kars7e)
	rebase = group user/Karol Stępniewski (kars7e)
	removeReviewer = group user/Karol Stępniewski (kars7e)
	submit = group user/Karol Stępniewski (kars7e)
[access "refs/heads/*"]
	read = group user/Karol Stępniewski (kars7e)
	create = group user/Karol Stępniewski (kars7e)
	push = +force group user/Karol Stępniewski (kars7e)
	pushMerge = group user/Karol Stępniewski (kars7e)
[access "refs/tags/*"]
	push = group user/Karol Stępniewski (kars7e)
	push = +force group user/Karol Stępniewski (kars7e)
