[Unit]
Description=Disk mounts required by Dispatch
Documentation=TODO
Requires=storage-data.mount storage-db.mount storage-log.mount repartition.service resizefs.service
After=storage-data.mount storage-db.mount storage-log.mount repartition.service resizefs.service

[Install]
WantedBy=dispatch-appliance-ready.target local-fs.target
