[Unit]
Description=System customization for Dispatch Appliance
Documentation=TODO

Requires=multi-user.target
After=multi-user.target

AllowIsolate=yes
