apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "fullname" . }}
  namespace: {{ .Release.Namespace }}
data:
  organization: {{ .Values.global.organization }}
  # TODO(imikushin): just use YAML
  # TODO(imikushin): riff.kafkaBrokers: use the full list, not just [0]
  config.json: |-
    {
      "organizationID": "{{ .Values.global.organization }}",
      "function": {
        "templateDir": "{{ .Values.faas.templates }}",
        "faas": "{{ .Values.faas.selected }}",
        "resyncPeriod": {{ .Values.resyncPeriod }},
        "openwhisk": {
          "host": "{{ .Values.faas.openwhisk.host }}"
        },
        "openfaas": {
          "gateway": "{{ .Values.faas.openfaas.gateway }}",
          "funcNamespace": "{{ .Values.faas.openfaas.namespace }}"
        },
        "riff": {
          "kafkaBrokers": ["{{ index .Values.faas.riff.kafkaBrokers 0 }}"],
          "funcNamespace": "{{ .Values.faas.riff.namespace }}"
        }
      },
      "registry": {
        "uri": "{{ default .Values.global.registry.uri .Values.registry.uri }}",
        "auth": "{{ default .Values.global.registry.auth .Values.registry.auth }}"
      }
    }
