---
---
$background: #272822;


/*
 * GitHub style for Pygments syntax highlighter, for use with Jekyll
 * Courtesy of GitHub.com
 *
 * src: https://github.com/aahan/pygments-github-style
 */
 .wrapper {
   background-color: #002538
 }

 .sidetitle li {
  list-style-type: none;
 }

 .sidetitle label {
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  color: #fafafa;
 }

 .sidetitle label:after {
   content: "";
   float: left;
   height: .41667rem;
   width: .41667rem;
   transform: rotate(-90deg) translateX(-.29167rem) translateY(-.33333rem);
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2012%2012%22%3E%0A%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3Cstyle%3E.cls-1%7Bfill%3A%239a9a9a%3B%7D%3C%2Fstyle%3E%0A%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%3Ctitle%3ECaret%3C%2Ftitle%3E%0A%20%20%20%20%3Cpath%20class%3D%22cls-1%22%20d%3D%22M6%2C9L1.2%2C4.2a0.68%2C0.68%2C0%2C0%2C1%2C1-1L6%2C7.08%2C9.84%2C3.24a0.68%2C0.68%2C0%2C1%2C1%2C1%2C1Z%22%2F%3E%0A%3C%2Fsvg%3E%0A");
   background-repeat: no-repeat;
   background-size: contain;
   vertical-align: middle;
   margin: 0;
 }

 .sidetitle input[type=checkbox]:checked~label:after{
  transform: translateX(-.33333rem) translateY(.29167rem);
 }
 
 .sidetitle a{
   color: #fafafa;
 }

 .sidetitle input[type="checkbox"]{
   display: none;
 }

 .sidetitle input[type="checkbox"] ~ ul{
   height: 0;
   transform: scaleY(0);
   padding: 0 0.75rem;
 }

 .sidetitle input[type="checkbox"]:checked ~ ul{
   height: 100%;
   transform-origin: top;
   transition: transform .2s ease-out;
   transform: scaleY(1); 
   padding: 0 0.75rem;
 }

 .highlight pre, pre {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    padding: 6px 10px;
    border-radius: 3px;
  }

  .highlight {
    .hll {
      background-color: #f8f8f8;
      border: 1px solid #ccc;
      padding: 6px 10px;
      border-radius: 3px;
    }
    .c {
      color: #999988;
      font-style: italic;
    }
    .err {
      color: #a61717;
      background-color: #e3d2d2;
    }
    .k, .o {
      font-weight: bold;
    }
    .cm {
      color: #999988;
      font-style: italic;
    }
    .cp {
      color: #999999;
      font-weight: bold;
    }
    .c1 {
      color: #999988;
      font-style: italic;
    }
    .cs {
      color: #999999;
      font-weight: bold;
      font-style: italic;
    }
    .gd {
      color: #000000;
      background-color: #ffdddd;
      .x {
        color: #000000;
        background-color: #ffaaaa;
      }
    }
    .ge {
      font-style: italic;
    }
    .gr {
      color: #aa0000;
    }
    .gh {
      color: #999999;
    }
    .gi {
      color: #000000;
      background-color: #ddffdd;
      .x {
        color: #000000;
        background-color: #aaffaa;
      }
    }
    .go {
      color: #888888;
    }
    .gp {
      color: #555555;
    }
    .gs {
      font-weight: bold;
    }
    .gu {
      color: #800080;
      font-weight: bold;
    }
    .gt {
      color: #aa0000;
    }
    .kc, .kd, .kn, .kp, .kr {
      font-weight: bold;
    }
    .kt {
      color: #445588;
      font-weight: bold;
    }
    .m {
      color: #009999;
    }
    .s {
      color: #dd1144;
    }
    .n {
      color: #333333;
    }
    .na {
      color: teal;
    }
    .nb {
      color: #0086b3;
    }
    .nc {
      color: #445588;
      font-weight: bold;
    }
    .no {
      color: teal;
    }
    .ni {
      color: purple;
    }
    .ne, .nf {
      color: #990000;
      font-weight: bold;
    }
    .nn {
      color: #555555;
    }
    .nt {
      color: navy;
    }
    .nv {
      color: teal;
    }
    .ow {
      font-weight: bold;
    }
    .w {
      color: #bbbbbb;
    }
    .mf, .mh, .mi, .mo {
      color: #009999;
    }
    .sb, .sc, .sd, .s2, .se, .sh, .si, .sx {
      color: #dd1144;
    }
    .sr {
      color: #009926;
    }
    .s1 {
      color: #dd1144;
    }
    .ss {
      color: #990073;
    }
    .bp {
      color: #999999;
    }
    .vc, .vg, .vi {
      color: teal;
    }
    .il {
      color: #009999;
    }
    .gc {
      color: #999;
      background-color: #EAF2F5;
    }
  }

pre {
    max-height: unset;
}

nav h4 { margin-bottom: 3px; }
nav ul { padding-left: 0px; list-style: none; background: initial; border: initial; height: initial; }
nav ul li { float: none; margin-left: 0px; white-space: nowrap; border: initial; height: initial; }
nav ul li a { color: #267CB9; display: initial; height: initial; font-size: 14px; }
nav ul li a:hover, a:focus a:active { color: #069; font-weight: bold; background-color: initial;}
.page-link.selected { color: #069; font-weight: bold; }
.section-header { padding-bottom: 20px; font-size: 16px; }
.dispatch-logo { height: 100%;}
section {
    display: block;
}
.layout-community .content-container { max-width: 1024px; padding-left: 36px; padding-right: 36px; margin: 0 auto; width: 100% }
.layout-community section {
    width: 100%;
    padding-top: 24px;
}
.community-social-icon {
    height: 180px;
}
.community-social-icon img {
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-left:24px;
    padding-right:24px;
    padding-top: 16px;
}
.social-card .card-text {
    text-align: center
}
.github-btn {
    position: absolute;
    right: 0px;
    top: 0px;
    margin-top: 20px;
}
.team-member {
    -webkit-clip-path: circle(60px at center);
    clip-path: circle(60px at center);
    width: 120px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
div.member-card {
    min-height: 14rem;
}
.community-team-name {
    text-align: center;
}
.community-team-role {
    text-align: center;
}
.layout-home section {
    width: 85%;
    margin-top: 30px;
    margin-left: 20px;
}
.home-cards-container {
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 18px;
}
.home-cards {
    position: relative;
    background-color: rgba($color: white, $alpha: 0.7);
    visibility: 70%;
    border-radius: 3px;
    border: 1px solid #d7d7d7;
}
.home-cards h1 {
    text-align: center;
}
.home-card {
    padding: 12px 12px 0 24px;
}
@media (max-width: 800px) {
    .bg-img {
        background-image: initial;
    }
    .layout-home section {
        width: 100%;
    }
}
section.home-hero {
    width: 100%;
}
.home-hero-content {
    position:relative;
}
.home-hero-content h1 {
    font-size: 2.0rem;
}
div.home-hero-btn {
    margin-top: 60px;
}
.disatpch-bg-img {
    height: 600px;
    width: 30%;
    position: absolute;
    top: 0px;
    right: 0px;
    background-image: url(/dispatch/assets/images/dispatch-simple.svg);
    background-size: cover;
}
.layout-home .main-container .content-area {
    overflow-x: hidden;
    padding: 0;
}
.home-card-bug img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.home-card-bug clr-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}
.home-card-title {
    text-align: center;
    height: 2rem;
}